<header>
    Page Header

    <ul>
        <% if (locals.user){ %>
            <li><%= user.name %>
            <li>
                <a href ="/users/sign-out">Sign Out</a>
            </li>
        <% }else{ %>
            <li>
                <a href ="/users/signin">Sign In</a>
            </li>
            <li>
                <a href ="/users/sign-out">Sign Out</a>
            </li>
        <% } %>

    </ul>
</header>